.container {

  width: 100%;
  padding: 0px 10px;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #fff;

  > div {

    display: flex;
    flex-direction: row;
    background-color: #fd5750;
    padding: 65px 0px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    > div {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

  }
}

  .text {
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }
  }

    .heading {
      font-size: 2em;
      font-weight: 500;
    }

    .instruction {
      margin-top: 20px;
    }

    .command {
      margin-top: 15px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 600;
      padding-bottom: 15px;
    }

.links {
  a {
    display: block;
    padding-top: 10px;
    &:first-child {
      padding-top: 0px;
    }
  }
}

  .link {
    width: 190px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid #fff;
  }