.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 40px 2.5% 40px 2.5%;
}

  .paginationItem {
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }

  .paginationLink {
    composes: paginationItem;
    padding: 5px 10px;
    background: rgba(253,87,80,0.02);
    border: 1px solid #fff;
    -moz-border-image: -moz-linear-gradient(top, #ffffff 0%, #fd5750 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffffff 0%, #fd5750 100%);
    border-image: linear-gradient(to bottom, #ffffff 0%, #fd5750 100%);
    border-image-slice: 1;
  }

  .nextLink {
    composes: paginationLink;
  }

  .pageNumberLink {
    composes: paginationLink;
  }

  .currentPageNumberLink {
    composes: paginationLink;
    opacity: .25;
    cursor: not-allowed;
  }

  .pageNumberLinkSeparator {
    composes: paginationItem;
  }

  .previousLink {
    composes: paginationLink;
  }